/* *{
    border: 1px solid blue;
} */
body{
    display: flex;
}

form {
    width: 40%;
    margin: auto;
    background-color: white;
    border-radius: 2px;
}

.marginTB {
    margin: 0em 0 .5em;
}

.rounded {
    border-style: solid;
    border-radius: 7px;
    border-color: darkgray;
    border-width: 1px;
}

.pink {
    color: deeppink;
    border: 1px solid deeppink;
    background-color: white;
}

#deleteBtn{
    background-color: transparent;
    border: none;
}

.padded {
    padding: 2%;
}

.widths {
    width: 100%;
}

.widthsInputs {
    width: 95%;
}

.flexing {
    display: flex;
    flex-direction: column;
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.strike {
    text-decoration: line-through;
    color: black;
}